body{
    font-family: 'Crimson Text', serif;
    background-image: url("recursos/background.jpg");
    background-size:contain;
    padding: 10 0 10 0;
    background-origin: content-box;
    
}
header{
    background: repeating-linear-gradient(
        45deg,
        #c23f3f,
        #FFFFFF,
        #4c8ae6
    
       
    );
    padding:20px 0px;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
#logo{
    margin: 50 auto;
    width: 20%;
    height: 20%;
    margin: 2% 5% 2% 5%;
}

nav{
    position: absolute;
    top: 110px;
    right: 50px;
}

nav li{
 
    display:inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
     color: #c23f3f;
     text-decoration: underline;
}
 
form{
    
    margin: 40px auto;
    padding: 10px;
    position: relative;
    vertical-align: top;
    width: 90%;
    vertical-align: top;
    box-sizing: border-box;
    background-color: white;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5%;
   
}
form::after{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #c23f3f 0%,  #4c8ae6 100%);
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    
    display: block;
    margin: 0 0 20px;
    padding: 20px 25px;
    width: 92%;
}
.enviar{
    position:relative;
    width: 50%;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4c8ae6;
    border: none;
    border-radius: 5px;
    margin: 20px 22%;
    transition: 1s all;
    cursor: pointer;

}
.enviar:hover{
    background-color: #c23f3f;
    transform: scale(1.2);
}
table{
    margin: 40px 40px;
    background: #FFFFFF;

}
table thead{
    background: #4c8ae6;
    font-weight: bold;
}
td,th{
    border: 1px solid #000000;
    padding: 3px 3px;
    
}


footer{
    text-align: center;
    background: url("recursos/textura.jpg");
    padding: 30px;
}
.copyright{
    
    font-size: 13px;
    color: #FFFFFF;
    margin: 20px;
}
#footerimg{
    width: 100px;
    height: 150px;
}

